[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
max_line_length = 80
tab_width = 4

[*.scss]
indent_size = 2
tab_width = 2
quote_type = single

[*.js]
indent_size = 2
tab_width = 2

[*.ts]
indent_size = 2
tab_width = 2
quote_type = single

[*.json]
indent_size = 2
