<div [formGroup] = "form">  
    <div [ngSwitch]="question.type">
        <!-- <label  [attr.for] = "question.label">{{question.label}}</label> -->

        <div *ngSwitchCase="'introduction'" >
            <label  [attr.for] = "question.label">{{question.label}}</label>
            <p>{{question.description}}</p>
            <!-- {{form.control}} -->
        </div>

        <div *ngSwitchCase="'choice'">
            <label  [attr.for] = "question.label">{{question.label}}</label>
            <mat-radio-group [formControlName]="question.name">
                <mat-radio-button *ngFor="let opt of question.options" [value]="opt.value">{{opt.display}}</mat-radio-button>
            </mat-radio-group>
        </div>

        <div *ngSwitchCase="'vas'">
            <div [innerHTML] = "question.label"></div>
            <mat-slider
            min="{{question.minValue}}" 
            max="{{question.maxValue}}" 
            step="{{question.stepSize}}"
            value="1">
                <input matSliderThumb formControlName="{{question.name}}">
            </mat-slider>
        </div>
    </div>
    <!-- <div class="errorMessage">Error Messagee: {{form.value | json}}</div> -->
    <!-- <button type="button" mat-button matStepperNext>Next</button> -->
</div>