<div [formGroup]="form">  
    <div [ngSwitch]="question.type">
        
        <div *ngSwitchCase="'introduction'" >
            <label class="font-medium" [attr.for]="question.label">{{question.label}}</label>
            <p>{{question.description}}</p>
        </div>

        <div *ngSwitchCase="'choice'">
            <div>
                <p>{{question.instructions}}</p>
                <label class="font-medium" [attr.for]="question.label">{{question.label}}</label>
            </div>
            <div class="w-1/2 flex content-start">
                <mat-radio-group [formControlName]="question.name">
                        <mat-radio-button class="w-full" *ngFor="let opt of question.options" [value]="opt.value">{{opt.display}}</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div *ngSwitchCase="'vas'">
            <div [innerHTML]="question.label"></div>
            <mat-slider class="w-1/2"
            min="{{question.minValue}}" 
            max="{{question.maxValue}}" 
            step="{{question.stepSize}}"
            value="1">
                <input matSliderThumb formControlName="{{question.name}}">
            </mat-slider>
        </div>
    </div>
    <!-- <div class="errorMessage">Error Messagee: {{form.value | json}}</div> -->
    <!-- <button type="button" mat-button matStepperNext>Next</button> -->
</div>