
<form [formGroup]="firstFormGroup">
<mat-stepper [linear]="isLinear" #stepper>
    <mat-step>
        <!-- <ng-template matStepLabel>Welcome</ng-template> -->
        <p>Welcome to the survey.</p>
        <div>
            <p>Here is more survey demo text</p>
            <button type="button" mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
        <mat-step [stepControl]="firstFormGroup.controls[question.name]" *ngFor="let question of questions">
            <p *ngIf="question.label && question.type !== 'vas'">{{question.label}}</p>
            <p *ngIf="question.description">{{question.description}}</p>
            <p *ngIf="question.instructions">{{question.instructions}}</p>

            <mat-radio-group formControlName={{question.name}}>
                <mat-radio-button *ngFor="let option of question.options" [value]="option.value">{{option.display}}</mat-radio-button>
            </mat-radio-group>

            <div *ngIf="question.type == 'vas'" [innerHTML]="question.label"></div>
            <mat-slider class="w-16" *ngIf="question.type == 'vas'" 
                min="{{question.minValue}}" 
                max="{{question.maxValue}}" 
                step="{{question.stepSize}}" 
                value="1.5">
                <input matSliderThumb formControlName="{{question.name}}">
              </mat-slider>
            <div>
                <button type="button" mat-button matStepperPrevious>Back</button>
                <button type="button" mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <p>If you wish to change some of your answers, you can go back and do so. If not, press Finalize.</p>
        <!-- <p>{{firstFormGroup.value | json}}</p> -->
        <div>
            <button type="button" mat-button matStepperPrevious>Back</button>
            <button type="button" mat-button (click)="stepper.reset()">Finalize</button>
            <!-- <button type="button" mat-button (click)="print()">Print</button> -->
        </div>
    </mat-step>
</mat-stepper>
</form>